<div class="product-container" *ngIf="!loading">
  <div>
    <div class="product-container__image">
      <!-- Single Image -->
      <!-- <swiper [zoom]="true" [slidesPerView]="1" [spaceBetween]="50" [pagination]="true"
        *ngIf="showcaseImages.length === 0">
        <ng-template swiperSlide [zoom]="true">
          <img src="{{ product.product_image_url }}" alt="`Product image`" />
        </ng-template>
      </swiper> -->
      <div style="padding: 35px;" class="row">
        <div class="col-md-6 float-center">
          <model-viewer id="dimension-demo" ar ar-modes="webxr" ar-scale="fixed" camera-orbit="-30deg auto auto"
          max-camera-orbit="auto 100deg auto" shadow-intensity="1" camera-controls src={{product.src}}
          ios-src={{product.ios_src}} alt="" poster={{product.product_image_url}} loading="lazy"
          style=" width: 600px; height: 450px;">
          <button class="btn-dark" (click)="openPopup()" style="vertical-align: middle;">
            <i class="fa fa-qrcode" style="font-size: 30px;"></i>
            <div> View in AR</div>
          </button>
        </model-viewer>
        </div>
        <div class="col-md-6">
          <img *ngIf="false" src={{qrResult}} />
          <div class="product-container__details" style="float: center; ">
            <h2 class="title">{{ product.name }}</h2>
            <div class="reviews">
              <div class="rating">
                <i nz-icon nzType="star" nzTheme="fill"></i>
                <i nz-icon nzType="star" nzTheme="fill"></i>
                <i nz-icon nzType="star" nzTheme="fill"></i>
                <i nz-icon nzType="star" nzTheme="fill"></i>
                <i nz-icon nzType="star"></i>
              </div>
              <span class="review-link">10 Review(s) |
                <span style="cursor: pointer">Add your review</span></span>
            </div>
            <div class="price-container">
              <h2 class="price">{{ product.price | currency: "USD" }}</h2>
              <span class="availability"></span>
            </div>
            <div class="description">{{ product.description }}</div>
            <div class="cta">
              <div class="add-to-cart">
                <span>QTY:</span>
  
                <nz-input-number [(ngModel)]="quantity"></nz-input-number>
                <button nz-button nzType="primary" (click)="addToCart()" [disabled]="quantity === 0">
                  Add to cart
                </button>
                <!-- <button type="button" nz-button nzType="primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="openPopup()">
                  View In Mobile
                </button> -->
              </div>
              <div class="category">
                <span>Category: </span> {{ product.category }}
              </div>
              <div class="social-links">
                <span>Share: </span>
                <i nz-icon nzType="facebook" nzTheme="outline"></i>
                <i nz-icon nzType="twitter" nzTheme="outline"></i>
                <i nz-icon nzType="google-plus" nzTheme="outline"></i>
                <i nz-icon nzType="mail" nzTheme="outline"></i>
              </div>
            </div>
          </div>
        </div>
        
        

        
        
      </div>
    </div>
  </div>
  <div class="additional"></div>
</div>
<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" [ngStyle]="{'display':displayStyle}">

  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content" style="text-align: center;">

     

      <div class="row" style="text-align: right;padding:5px">

        <div class="col-md-12">


            
        <button type="button" class="btn-close " data-dismiss="modal" aria-label="Close" (click)="closePopup()">

        </button>

      </div>

      </div>
      <label class="float-center">Scan with your smartphone to experience in AR.</label>

      <div class="modal-body">

        <img  src={{qrResult}} />

      </div>

     

    </div>

  </div>

</div>