<div class="product-card">
  <div class="product-card__image" routerLink="/product/{{industry}}/{{_id}}">
    <img src="{{ product_image_url }}" alt=""  />
  </div>
  <div class="product-card__info">
    <header>
      <div class="title">
        <div class="product-name">{{ name }}</div>
        <div class="product-short-desc">{{ short_description }}</div>
      </div>
      <div class="product-price">{{ price | currency: "USD" }}</div>
    </header>
  </div>
  <!-- <div class="product-card__cta">
    <button
      nz-button
      [disabled]="quantity === 0"
      (click)="
        onAdd({
          id: id,
          price: price,
          image: image,
          title: title,
          maxQuantity: quantity
        })
      "
    >
      {{ quantity === 0 ? "Out of stock" : "Add to cart" }}
    </button>
  </div> -->
</div>
